*.pyc
__pycache__/
*.log
*.swp
*.egg-info/
*.DS_Store
.env
.idea/
.vscode/
node_modules/
*.zip
*.tar.gz
*.bak
*.~*
*.db
*.sqlite3
*.pot
*.mo
*.pyo
*.pid
*.iml
*.mp4
*.avi
*.mp3
odoo/addons/*
!odoo/addons/web
